/* App.css or your custom styles file */

.story-container {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.story-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  padding: 1rem;
  background-color: #fff;
  text-align: center;

  &:hover {
    transform: scale(1.05);
  }

  .story-title {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  color: #e05012!important;
    margin-bottom: 1rem;
  }

  .story-content {
    margin-bottom: 0.5rem;
    color: #666;
    line-height: 1.4;
  }
}
